body{
    color: white;
    background-color: black;
}

h1{
    font-size: 20px;
}

p{
    color: lightgray;
    font-size: 12px;
}

div{
    border: dotted;
    padding: 2px;
    width: 100px;
    height: 100px;
}
